
#bear-head {
    margin: 0 2% 0 2%;
    width: 200px;
    height: 200px;
}

.nav-item {
    font-size: 18pt;
}

#main-section {
    border-bottom-color: red;
    border-bottom-width: 10px;
}

#main-row{
    height: 960px;
    margin-top: 0;
    background-image: url(images/light-veneer.png);
}

#content-holder {
    margin-block-start: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    background-color: #ffffff;
    padding: 2%;
}

#footer-breaker {
    background-color: #4aaaa5;
    height: 20px;
    margin-top: 0;
    margin: -14px;
}

footer {
    background-color:#666666;
    height: 15px; 
    text-align: center; 
    margin-top: 5px;
    font-size: 12pt;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: -14px;
}
